<div class="flex h-full w-full">
  <div class="flex w-full items-center justify-center">
    <img src="login.png" alt="login" class="h-4/5 w-4/5 object-contain" />
  </div>

  <div class="w-1 bg-background"></div>

  <div class="flex w-full flex-col items-center justify-center gap-12">
    <img src="logo.png" alt="logo" class="h-40 w-40" />

    <span class="text-2xl font-bold">{{ 'LOGIN.WELCOME' | translate }}</span>

    <form [formGroup]="loginForm" class="flex w-96 flex-col gap-4">
      <sh-input
        [label]="'LOGIN.EMAIL' | translate"
        type="email"
        [placeholder]="'GENERAL.TYPE_HERE' | translate"
        [control]="loginForm | getControl: 'email'">
      </sh-input>

      <sh-input
        [label]="'LOGIN.PASSWORD' | translate"
        type="password"
        [placeholder]="'GENERAL.TYPE_HERE' | translate"
        [control]="loginForm | getControl: 'password'">
      </sh-input>

      <sh-checkbox
        [label]="'LOGIN.REMEMBER_ME' | translate"
        [checked]="loginForm.get('rememberMe')?.value"
        (change)="toggleRememberMe($event)"></sh-checkbox>

      <sh-button
        [label]="'LOGIN.SIGN_IN' | translate"
        (click)="signIn()"
        size="full"
        [disabled]="loginForm.invalid || loginForm.pristine"></sh-button>
    </form>
  </div>
</div>
