.sh-input {
  ::ng-deep {
    input {
      padding: 12px;
      min-height: 40px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #d1d1d1;
      background-color: white;
      color: #000;
    }
  }
}
